img{
  width: 100%;
}

.foil, .nonfoil{
  width: 250px;
  border-width: 4px;
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.foil{
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom right, rgb(238, 137, 241), darkorchid,  rgb(86, 153, 240), rgb(173, 250, 121), orange, rgb(247, 75, 75)) border-box;
  border-radius: 20px;
  border: transparent;
}