.loginAndSignUp{
  width: 75%;
  height: 50vh;
  border-style: solid;
  border-radius: 15px;
  background-color: white;
  margin: auto;
  margin-top: 10vh;
}

.forms{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logoSmall{
  width: min(350px, 100%);
  margin-top: 5vh;
}

.login{
  border-right: solid;
}