.searchbar{
  display: inline-block;
}

.searchForm{
  display: flex;
  flex-direction: column;
}

form > label{
  text-align: left;
}

textarea{
  height: 40px;
}

.inputAndLabel > *, .color{
  font-size: 20px;
}

#close{
  display: float;
  float: right;
  margin-right: 20px;
}

form  > input, label, #rarity, #type textarea, #submit{
  width: 40%;
}

.inputAndLabel{
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px){
  .searchForm{
    display: grid;
    grid-template-columns: 40% 40%
  }
}

@media (max-width: 768px){
  input, textarea, select, #submit{
    width: auto;
  }
  
  .inputAndLabel > *, .color{
    font-size: 16px;
  }
}