.searchbar{
  display: inline-block;
}

.searchForm{
  display: flex;
  flex-direction: column;
}

form > label{
  text-align: left;
}

textarea{
  height: 40px;
}

.inputAndLabel > *, .color{
  font-size: 20px;
}

#close{
  display: float;
  float: right;
  margin: 10px;
}



.inputAndLabel{
  display: flex;
  flex-direction: column;
}

.inputAndLabel, .color{
  margin: 10px;
}

.inputAndLabel > label, .color{
  text-align: left;
}

@media (min-width: 769px){
  .searchForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px){
  .inputAndLabel > *, .color > *{
    font-size: 16px;
  }

  #close{
    margin-bottom: 30px;
  }
}