.searchbar{
  display: inline-block;
}

input, button{
  margin: 10px;
}

.searchForm{
  display: flex;
  flex-direction: column;
}

form > label{
  text-align: left;
}

textarea{
  height: 30px;
}

form > *{
  font-size: 24px;
}

#close{
  align-self: right;
}

input, textarea, select, #submit{
  width: 40%;
}

@media (max-width: 768px){
  input, textarea, select, #submit{
    width: auto;
  }
  
  form > *{
    font-size: 16px;
  }
}